<% title("Home Page") %>
<h1>Google Maps Tut</h1>
<div id="map-container">
	<div id="map-canvas"></div>
    
    <div id="control-div" class="control-div">
      <div id= "control-ui" class="control-ui" title = "Click to set the map to Home">
        <div id="control-text" class="control-text">
          <p> Zoom </p>
        </div>
      </div>
    </div>
</div>